PRCo/BBS Components/FaxInterface/Web References/ConcordFaxService/FaxWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<WSDL:definitions xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://ws.concordfax.com/fax/v5/FaxWS.wsdl" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:FaxWS="urn:FaxWS" xmlns="http://schemas.xmlsoap.org/wsdl/" name="FaxWS" targetNamespace="https://ws.concordfax.com/fax/v5/FaxWS.wsdl" xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/">
  <WSDL:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="urn:FaxWS">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="FaxJob">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="JobScheduleStartType" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="JobScheduleStartDate" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="JobExpiryDate" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="SenderCSID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="SenderName" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="SenderCompany" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="SenderPhone" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="CoverText" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="CoverName" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="CoverSubject" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ReferenceId" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Resolution" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="SenderFax" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="SoftwareClient" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="NotifyType" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="NotifyIncludeDeliveredImage" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="NotifyDestination" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="NotifyAuthUser" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="NotifyAuthPassword" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="UserField1" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="UserField2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="UserField3" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="UserField4" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="UserField5" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="UserField6" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="UserField7" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="UserField8" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="UserField9" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="UserField10" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="UserField11" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="UserField12" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FaxBroadcastJob">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="JobScheduleStartType" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="JobScheduleStartDate" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="JobExpiryDate" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="SenderCSID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="SenderName" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="SenderCompany" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="SenderPhone" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="SenderAddress1" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="SenderAddress2" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="SenderCity" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="SenderState" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="SenderZip" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="SenderCountry" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="CoverName" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="CoverSubject" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Resolution" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="UserField1" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="UserField2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="UserField3" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="UserField4" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="UserField5" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ExceptionDestination" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="SenderFax" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="SoftwareClient" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="CoverText" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="UserField6" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="UserField7" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="UserField8" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="UserField9" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="UserField10" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="UserField11" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="UserField12" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="WSError">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ErrorString" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FaxJobRecipient">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="RecipFaxNumber" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="RecipCompany" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="RecipTitle" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="RecipName" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="RecipSecureCSID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RecipFirstName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RecipLastName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RecipAddress1" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RecipAddress2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RecipCity" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RecipState" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RecipZipcode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RecipCountry" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RecipVoiceNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RecipField1" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RecipField2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RecipField3" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RecipField4" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RecipField5" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RecipField6" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RecipField7" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RecipField8" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RecipField9" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RecipField10" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RecipField11" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RecipField12" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FaxJobRecipients">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="FaxWS:FaxJobRecipient" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FaxCover">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="FaxCoverName" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FaxCoverList">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="FaxWS:FaxCover" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FaxStatus">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="FaxJobId" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="FaxJobStatusId" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="StatusDescription" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Error" type="FaxWS:WSError" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RealTimeFaxStatus">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="FaxJobId" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="FaxJobStatusId" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="StatusDescription" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="RecipientState" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="RecipientCurrentPageCount" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="RecipientTotalPageCount" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Error" type="FaxWS:WSError" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RealTimeFaxStatusEx">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="FaxJobId" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="FaxJobStatusId" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="StatusDescription" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="RecipientState" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="RecipientCurrentPageCount" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="RecipientTotalPageCount" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="FaxDeliveryDateTime" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="FaxDeliveryDuration" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="RemoteFaxCSID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Error" type="FaxWS:WSError" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RealTimeFaxStatusEx2">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="FaxJobId" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="FaxJobStatusId" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="StatusDescription" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="RecipientState" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="RecipientCurrentPageCount" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="RecipientTotalPageCount" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="FaxDeliveryDateTime" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="FaxDeliveryDuration" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="RemoteFaxCSID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ReferenceId" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Error" type="FaxWS:WSError" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FaxStatusList">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="FaxWS:FaxStatus" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RealTimeFaxStatusList">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="FaxWS:RealTimeFaxStatus" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RealTimeFaxStatusExList">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="FaxWS:RealTimeFaxStatusEx" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RealTimeFaxStatusEx2List">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="FaxWS:RealTimeFaxStatusEx2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FaxJobId">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="JobId" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FaxJobIds">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="FaxWS:FaxJobId" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FaxJobFile">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="FileIndex" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="FileTypeId" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="FileData" type="xsd:base64Binary" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FaxJobFiles">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="FaxWS:FaxJobFile" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DID">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="PortNumber" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="did" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="DefaultCSID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="SendDeliveryConfirmation" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ProcessInbound" type="xsd:boolean" />
          <xsd:element minOccurs="1" maxOccurs="1" name="LineSpecificCredentials" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DIDList">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="FaxWS:DID" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ConcordAccount">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="UserId" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Pin" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="DefaultCSID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="SendDeliveryConfirmation" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DIDList" nillable="true" type="FaxWS:DIDList" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RecipientStatus">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="FaxJobId" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="RecipientId" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="RecipientStatusId" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="RecipientStatusDescription" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="RecipientName" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="RecipientCompanyName" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="DeliveryAttempts" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="DeliveryDuration" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="DeliverySpeed" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ReceiveCSID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="PageCount" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="FaxNumber" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="StartDate" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="EndDate" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RecipientStatusList">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="FaxWS:RecipientStatus" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FaxBroadcastStatusRequest">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="JobId" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" default="-1" name="StartRecipientId" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" default="-1" name="EndRecipientId" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" default="-1" name="RecipientStatus" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="GetFaxAccountSettings">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="UserID" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="strPIN" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetFaxAccountSettingsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="return" type="xsd:boolean" />
            <xsd:element minOccurs="1" maxOccurs="1" name="AccountInfo" type="FaxWS:ConcordAccount" />
            <xsd:element minOccurs="1" maxOccurs="1" name="WSError" type="FaxWS:WSError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CheckService">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CheckServiceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="return" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SimpleSendFax">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="UserID" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="strPIN" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="RecipientName" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="FaxNumber" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="TIFFJobFile" type="xsd:base64Binary" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SimpleFaxSendResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="return" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SimpleGetFaxStatus">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="UserID" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="strPIN" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="JobId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SimpleFaxStatusResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="return" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SendFax">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="UserID" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="strPIN" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Recipients" type="FaxWS:FaxJobRecipients" />
            <xsd:element minOccurs="1" maxOccurs="1" name="FaxJobFiles" type="FaxWS:FaxJobFiles" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="FaxSendResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="return" type="xsd:boolean" />
            <xsd:element minOccurs="1" maxOccurs="1" name="FaxJobIds" type="FaxWS:FaxJobIds" />
            <xsd:element minOccurs="1" maxOccurs="1" name="TTFP" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="WSError" type="FaxWS:WSError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SendFaxEx">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="UserID" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="strPIN" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Recipients" type="FaxWS:FaxJobRecipients" />
            <xsd:element minOccurs="1" maxOccurs="1" name="FaxJobFiles" type="FaxWS:FaxJobFiles" />
            <xsd:element minOccurs="1" maxOccurs="1" name="JobDetails" type="FaxWS:FaxJob" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="FaxSendExResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="return" type="xsd:boolean" />
            <xsd:element minOccurs="1" maxOccurs="1" name="FaxJobIds" type="FaxWS:FaxJobIds" />
            <xsd:element minOccurs="1" maxOccurs="1" name="TTFP" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="WSError" type="FaxWS:WSError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SendFaxBroadcast">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="UserID" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="strPIN" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Recipients" type="FaxWS:FaxJobRecipients" />
            <xsd:element minOccurs="1" maxOccurs="1" name="FaxJobFiles" type="FaxWS:FaxJobFiles" />
            <xsd:element minOccurs="1" maxOccurs="1" name="JobDetails" type="FaxWS:FaxBroadcastJob" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="FaxBroadcastResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="return" type="xsd:boolean" />
            <xsd:element minOccurs="1" maxOccurs="1" name="FaxJobId" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="WSError" type="FaxWS:WSError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SendFaxBroadcastEx">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="UserID" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="strPIN" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="CSVFile" type="xsd:base64Binary" />
            <xsd:element minOccurs="1" maxOccurs="1" name="FaxJobFiles" type="FaxWS:FaxJobFiles" />
            <xsd:element minOccurs="1" maxOccurs="1" name="JobDetails" type="FaxWS:FaxBroadcastJob" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="FaxBroadcastExResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="return" type="xsd:boolean" />
            <xsd:element minOccurs="1" maxOccurs="1" name="FaxJobId" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="WSError" type="FaxWS:WSError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetFaxStatus">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="UserID" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="strPIN" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="FaxJobIds" type="FaxWS:FaxJobIds" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="FaxStatusResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="return" type="xsd:boolean" />
            <xsd:element minOccurs="1" maxOccurs="1" name="FaxStatusList" type="FaxWS:FaxStatusList" />
            <xsd:element minOccurs="1" maxOccurs="1" name="WSError" type="FaxWS:WSError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRealTimeFaxStatus">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="UserID" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="strPIN" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="FaxJobIds" type="FaxWS:FaxJobIds" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RealTimeFaxStatusResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="return" type="xsd:boolean" />
            <xsd:element minOccurs="1" maxOccurs="1" name="FaxStatusList" type="FaxWS:RealTimeFaxStatusList" />
            <xsd:element minOccurs="1" maxOccurs="1" name="WSError" type="FaxWS:WSError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRealTimeFaxStatusEx">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="UserID" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="strPIN" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="FaxJobIds" type="FaxWS:FaxJobIds" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RealTimeFaxStatusExResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="return" type="xsd:boolean" />
            <xsd:element minOccurs="1" maxOccurs="1" name="FaxStatusList" type="FaxWS:RealTimeFaxStatusExList" />
            <xsd:element minOccurs="1" maxOccurs="1" name="WSError" type="FaxWS:WSError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRealTimeFaxStatusEx2">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="UserID" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="strPIN" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="FaxJobIds" type="FaxWS:FaxJobIds" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RealTimeFaxStatusEx2Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="return" type="xsd:boolean" />
            <xsd:element minOccurs="1" maxOccurs="1" name="FaxStatusList" type="FaxWS:RealTimeFaxStatusEx2List" />
            <xsd:element minOccurs="1" maxOccurs="1" name="WSError" type="FaxWS:WSError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetFaxBroadcastReport">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="UserID" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="strPIN" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="JobId" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="RecipientType" type="xsd:int" />
            <xsd:element minOccurs="1" maxOccurs="1" name="RecipAddress" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetFaxBroadcastReportResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="return" type="xsd:boolean" />
            <xsd:element minOccurs="1" maxOccurs="1" name="WSError" type="FaxWS:WSError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CancelFax">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="UserID" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="strPIN" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="JobId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CancelFaxResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="return" type="xsd:boolean" />
            <xsd:element minOccurs="1" maxOccurs="1" name="WSError" type="FaxWS:WSError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetFaxCoverList">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="UserID" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="strPIN" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="FaxCoverResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="return" type="xsd:boolean" />
            <xsd:element minOccurs="1" maxOccurs="1" name="FaxCoverList" type="FaxWS:FaxCoverList" />
            <xsd:element minOccurs="1" maxOccurs="1" name="WSError" type="FaxWS:WSError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetFaxBroadcastStatus">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="UserID" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="strPIN" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="request" type="FaxWS:FaxBroadcastStatusRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="FaxBroadcastStatusResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="return" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="RecipientStatusList" nillable="true" type="FaxWS:RecipientStatusList" />
            <xsd:element minOccurs="1" maxOccurs="1" name="WSError" type="FaxWS:WSError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </WSDL:types>
  <WSDL:message name="GetFaxAccountSettings">
    <WSDL:part name="parameters" element="FaxWS:GetFaxAccountSettings" />
  </WSDL:message>
  <WSDL:message name="GetFaxAccountSettingsResponse">
    <WSDL:part name="parameters" element="FaxWS:GetFaxAccountSettingsResponse" />
  </WSDL:message>
  <WSDL:message name="CheckService">
    <WSDL:part name="parameters" element="FaxWS:CheckService" />
  </WSDL:message>
  <WSDL:message name="CheckServiceResponse">
    <WSDL:part name="parameters" element="FaxWS:CheckServiceResponse" />
  </WSDL:message>
  <WSDL:message name="SimpleSendFax">
    <WSDL:part name="parameters" element="FaxWS:SimpleSendFax" />
  </WSDL:message>
  <WSDL:message name="SimpleFaxSendResponse">
    <WSDL:part name="parameters" element="FaxWS:SimpleFaxSendResponse" />
  </WSDL:message>
  <WSDL:message name="SimpleGetFaxStatus">
    <WSDL:part name="parameters" element="FaxWS:SimpleGetFaxStatus" />
  </WSDL:message>
  <WSDL:message name="SimpleFaxStatusResponse">
    <WSDL:part name="parameters" element="FaxWS:SimpleFaxStatusResponse" />
  </WSDL:message>
  <WSDL:message name="SendFax">
    <WSDL:part name="parameters" element="FaxWS:SendFax" />
  </WSDL:message>
  <WSDL:message name="FaxSendResponse">
    <WSDL:part name="parameters" element="FaxWS:FaxSendResponse" />
  </WSDL:message>
  <WSDL:message name="SendFaxEx">
    <WSDL:part name="parameters" element="FaxWS:SendFaxEx" />
  </WSDL:message>
  <WSDL:message name="FaxSendExResponse">
    <WSDL:part name="parameters" element="FaxWS:FaxSendExResponse" />
  </WSDL:message>
  <WSDL:message name="SendFaxBroadcast">
    <WSDL:part name="parameters" element="FaxWS:SendFaxBroadcast" />
  </WSDL:message>
  <WSDL:message name="FaxBroadcastResponse">
    <WSDL:part name="parameters" element="FaxWS:FaxBroadcastResponse" />
  </WSDL:message>
  <WSDL:message name="SendFaxBroadcastEx">
    <WSDL:part name="parameters" element="FaxWS:SendFaxBroadcastEx" />
  </WSDL:message>
  <WSDL:message name="FaxBroadcastExResponse">
    <WSDL:part name="parameters" element="FaxWS:FaxBroadcastExResponse" />
  </WSDL:message>
  <WSDL:message name="GetFaxStatus">
    <WSDL:part name="parameters" element="FaxWS:GetFaxStatus" />
  </WSDL:message>
  <WSDL:message name="FaxStatusResponse">
    <WSDL:part name="parameters" element="FaxWS:FaxStatusResponse" />
  </WSDL:message>
  <WSDL:message name="GetRealTimeFaxStatus">
    <WSDL:part name="parameters" element="FaxWS:GetRealTimeFaxStatus" />
  </WSDL:message>
  <WSDL:message name="RealTimeFaxStatusResponse">
    <WSDL:part name="parameters" element="FaxWS:RealTimeFaxStatusResponse" />
  </WSDL:message>
  <WSDL:message name="GetRealTimeFaxStatusEx">
    <WSDL:part name="parameters" element="FaxWS:GetRealTimeFaxStatusEx" />
  </WSDL:message>
  <WSDL:message name="RealTimeFaxStatusExResponse">
    <WSDL:part name="parameters" element="FaxWS:RealTimeFaxStatusExResponse" />
  </WSDL:message>
  <WSDL:message name="GetRealTimeFaxStatusEx2">
    <WSDL:part name="parameters" element="FaxWS:GetRealTimeFaxStatusEx2" />
  </WSDL:message>
  <WSDL:message name="RealTimeFaxStatusEx2Response">
    <WSDL:part name="parameters" element="FaxWS:RealTimeFaxStatusEx2Response" />
  </WSDL:message>
  <WSDL:message name="GetFaxBroadcastReport">
    <WSDL:part name="parameters" element="FaxWS:GetFaxBroadcastReport" />
  </WSDL:message>
  <WSDL:message name="GetFaxBroadcastReportResponse">
    <WSDL:part name="parameters" element="FaxWS:GetFaxBroadcastReportResponse" />
  </WSDL:message>
  <WSDL:message name="CancelFax">
    <WSDL:part name="parameters" element="FaxWS:CancelFax" />
  </WSDL:message>
  <WSDL:message name="CancelFaxResponse">
    <WSDL:part name="parameters" element="FaxWS:CancelFaxResponse" />
  </WSDL:message>
  <WSDL:message name="GetFaxCoverList">
    <WSDL:part name="parameters" element="FaxWS:GetFaxCoverList" />
  </WSDL:message>
  <WSDL:message name="FaxCoverResponse">
    <WSDL:part name="parameters" element="FaxWS:FaxCoverResponse" />
  </WSDL:message>
  <WSDL:message name="GetFaxBroadcastStatus">
    <WSDL:part name="parameters" element="FaxWS:GetFaxBroadcastStatus" />
  </WSDL:message>
  <WSDL:message name="FaxBroadcastStatusResponse">
    <WSDL:part name="parameters" element="FaxWS:FaxBroadcastStatusResponse" />
  </WSDL:message>
  <WSDL:portType name="FaxWSPortType">
    <WSDL:operation name="GetFaxAccountSettings">
      <documentation>Service definition of function FaxWS__GetFaxAccountSettings</documentation>
      <WSDL:input message="tns:GetFaxAccountSettings" />
      <WSDL:output message="tns:GetFaxAccountSettingsResponse" />
    </WSDL:operation>
    <WSDL:operation name="CheckService">
      <documentation>Service definition of function FaxWS__CheckService</documentation>
      <WSDL:input message="tns:CheckService" />
      <WSDL:output message="tns:CheckServiceResponse" />
    </WSDL:operation>
    <WSDL:operation name="SimpleSendFax">
      <documentation>Service definition of function FaxWS__SimpleSendFax</documentation>
      <WSDL:input message="tns:SimpleSendFax" />
      <WSDL:output message="tns:SimpleFaxSendResponse" />
    </WSDL:operation>
    <WSDL:operation name="SimpleGetFaxStatus">
      <documentation>Service definition of function FaxWS__SimpleGetFaxStatus</documentation>
      <WSDL:input message="tns:SimpleGetFaxStatus" />
      <WSDL:output message="tns:SimpleFaxStatusResponse" />
    </WSDL:operation>
    <WSDL:operation name="SendFax">
      <documentation>Service definition of function FaxWS__SendFax</documentation>
      <WSDL:input message="tns:SendFax" />
      <WSDL:output message="tns:FaxSendResponse" />
    </WSDL:operation>
    <WSDL:operation name="SendFaxEx">
      <documentation>Service definition of function FaxWS__SendFaxEx</documentation>
      <WSDL:input message="tns:SendFaxEx" />
      <WSDL:output message="tns:FaxSendExResponse" />
    </WSDL:operation>
    <WSDL:operation name="SendFaxBroadcast">
      <documentation>Service definition of function FaxWS__SendFaxBroadcast</documentation>
      <WSDL:input message="tns:SendFaxBroadcast" />
      <WSDL:output message="tns:FaxBroadcastResponse" />
    </WSDL:operation>
    <WSDL:operation name="SendFaxBroadcastEx">
      <documentation>Service definition of function FaxWS__SendFaxBroadcastEx</documentation>
      <WSDL:input message="tns:SendFaxBroadcastEx" />
      <WSDL:output message="tns:FaxBroadcastExResponse" />
    </WSDL:operation>
    <WSDL:operation name="GetFaxStatus">
      <documentation>Service definition of function FaxWS__GetFaxStatus</documentation>
      <WSDL:input message="tns:GetFaxStatus" />
      <WSDL:output message="tns:FaxStatusResponse" />
    </WSDL:operation>
    <WSDL:operation name="GetRealTimeFaxStatus">
      <documentation>Service definition of function FaxWS__GetRealTimeFaxStatus</documentation>
      <WSDL:input message="tns:GetRealTimeFaxStatus" />
      <WSDL:output message="tns:RealTimeFaxStatusResponse" />
    </WSDL:operation>
    <WSDL:operation name="GetRealTimeFaxStatusEx">
      <documentation>Service definition of function FaxWS__GetRealTimeFaxStatusEx</documentation>
      <WSDL:input message="tns:GetRealTimeFaxStatusEx" />
      <WSDL:output message="tns:RealTimeFaxStatusExResponse" />
    </WSDL:operation>
    <WSDL:operation name="GetRealTimeFaxStatusEx2">
      <documentation>Service definition of function FaxWS__GetRealTimeFaxStatusEx2</documentation>
      <WSDL:input message="tns:GetRealTimeFaxStatusEx2" />
      <WSDL:output message="tns:RealTimeFaxStatusEx2Response" />
    </WSDL:operation>
    <WSDL:operation name="GetFaxBroadcastReport">
      <documentation>Service definition of function FaxWS__GetFaxBroadcastReport</documentation>
      <WSDL:input message="tns:GetFaxBroadcastReport" />
      <WSDL:output message="tns:GetFaxBroadcastReportResponse" />
    </WSDL:operation>
    <WSDL:operation name="CancelFax">
      <documentation>Service definition of function FaxWS__CancelFax</documentation>
      <WSDL:input message="tns:CancelFax" />
      <WSDL:output message="tns:CancelFaxResponse" />
    </WSDL:operation>
    <WSDL:operation name="GetFaxCoverList">
      <documentation>Service definition of function FaxWS__GetFaxCoverList</documentation>
      <WSDL:input message="tns:GetFaxCoverList" />
      <WSDL:output message="tns:FaxCoverResponse" />
    </WSDL:operation>
    <WSDL:operation name="GetFaxBroadcastStatus">
      <documentation>Service definition of function FaxWS__GetFaxBroadcastStatus</documentation>
      <WSDL:input message="tns:GetFaxBroadcastStatus" />
      <WSDL:output message="tns:FaxBroadcastStatusResponse" />
    </WSDL:operation>
  </WSDL:portType>
  <WSDL:binding name="FaxWS" type="tns:FaxWSPortType">
    <SOAP:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <WSDL:operation name="GetFaxAccountSettings">
      <SOAP:operation soapAction="" />
      <WSDL:input>
        <SOAP:body use="literal" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="literal" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="CheckService">
      <SOAP:operation soapAction="" />
      <WSDL:input>
        <SOAP:body use="literal" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="literal" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="SimpleSendFax">
      <SOAP:operation soapAction="" />
      <WSDL:input>
        <SOAP:body use="literal" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="literal" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="SimpleGetFaxStatus">
      <SOAP:operation soapAction="" />
      <WSDL:input>
        <SOAP:body use="literal" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="literal" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="SendFax">
      <SOAP:operation soapAction="" />
      <WSDL:input>
        <SOAP:body use="literal" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="literal" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="SendFaxEx">
      <SOAP:operation soapAction="" />
      <WSDL:input>
        <SOAP:body use="literal" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="literal" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="SendFaxBroadcast">
      <SOAP:operation soapAction="" />
      <WSDL:input>
        <SOAP:body use="literal" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="literal" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="SendFaxBroadcastEx">
      <SOAP:operation soapAction="" />
      <WSDL:input>
        <SOAP:body use="literal" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="literal" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="GetFaxStatus">
      <SOAP:operation soapAction="" />
      <WSDL:input>
        <SOAP:body use="literal" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="literal" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="GetRealTimeFaxStatus">
      <SOAP:operation soapAction="" />
      <WSDL:input>
        <SOAP:body use="literal" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="literal" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="GetRealTimeFaxStatusEx">
      <SOAP:operation soapAction="" />
      <WSDL:input>
        <SOAP:body use="literal" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="literal" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="GetRealTimeFaxStatusEx2">
      <SOAP:operation soapAction="" />
      <WSDL:input>
        <SOAP:body use="literal" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="literal" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="GetFaxBroadcastReport">
      <SOAP:operation soapAction="" />
      <WSDL:input>
        <SOAP:body use="literal" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="literal" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="CancelFax">
      <SOAP:operation soapAction="" />
      <WSDL:input>
        <SOAP:body use="literal" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="literal" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="GetFaxCoverList">
      <SOAP:operation soapAction="" />
      <WSDL:input>
        <SOAP:body use="literal" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="literal" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="GetFaxBroadcastStatus">
      <SOAP:operation soapAction="" />
      <WSDL:input>
        <SOAP:body use="literal" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="literal" />
      </WSDL:output>
    </WSDL:operation>
  </WSDL:binding>
  <WSDL:service name="FaxWS">
    <documentation>gSOAP 2.7.6c generated service definition</documentation>
    <WSDL:port name="FaxWS" binding="tns:FaxWS">
      <SOAP:address location="https://ws.concordfax.com/fax/v5" />
    </WSDL:port>
  </WSDL:service>
</WSDL:definitions>