PRCo/BBS Components/FaxInterface/Web References/ConcordReportingService/reporting.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="AccountManagementReportingWebservice" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="AccountManagementReportingWebservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="AccountManagementReportingWebservice">
      <s:element name="GenerateCDR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:GenerateCDRRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GenerateCDRRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Authentication" type="tns:Authentication" />
          <s:element minOccurs="1" maxOccurs="1" name="CustomerId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GenerateSingleFile" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Month" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Regenerate" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Year" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Authentication">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GenerateCDRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateCDRResult" type="tns:GenerateCDRResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GenerateCDRResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCDR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:GetCDRRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetCDRRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Authentication" type="tns:Authentication" />
          <s:element minOccurs="1" maxOccurs="1" name="CustomerId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCDRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCDRResult" type="tns:GetCDRResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetCDRResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FileData" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="Filename" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SingleFile" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetInboundDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:GetInboundDetailRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetInboundDetailRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Authentication" type="tns:Authentication" />
          <s:element minOccurs="0" maxOccurs="1" name="MessageId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetInboundDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInboundDetailResult" type="tns:GetInboundDetailResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetInboundDetailResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="InboundFaxMessage" type="tns:InboundFaxDetail" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InboundFaxDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CalleeFaxNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CallerCSID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CallerFaxNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Compression" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CustomerId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Duration" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ECMEnabled" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="MessageDt" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="MessageFlags" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MessageId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MMREnabled" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="MREnabled" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="PageCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ParentCustomerId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Resolution" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RootParentCustomerId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Speed" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetOutboundDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:GetOutboundDetailRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetOutboundDetailRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Authentication" type="tns:Authentication" />
          <s:element minOccurs="0" maxOccurs="1" name="JobId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetOutboundDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOutboundDetailResult" type="tns:GetOutboundDetailResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetOutboundDetailResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OutboundFaxMessage" type="tns:ArrayOfOutboundFaxDetail" />
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOutboundFaxDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OutboundFaxDetail" nillable="true" type="tns:OutboundFaxDetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OutboundFaxDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AccountId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CoverName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CoverSubject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CoverType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CustomerId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DeliveredPages" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DeliveryAttempts" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Duration" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FaxNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PageCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ParentCustomerId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RecipientAddress1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RecipientAddress2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RecipientCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RecipientCompany" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RecipientCountry" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RecipientField1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RecipientField10" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RecipientField11" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RecipientField12" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RecipientField2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RecipientField3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RecipientField4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RecipientField5" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RecipientField6" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RecipientField7" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RecipientField8" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RecipientField9" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RecipientFirstName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RecipientId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RecipientLastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RecipientName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RecipientState" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RecipientTitle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RecipientVoice" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RecipientZip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RemoteCSID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RootParentCustomerId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ScheduledDt" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderAddress1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderAddress2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderCompany" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderCountry" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderCSID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderDeptName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderFax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderState" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderVoice" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderZip" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Speed" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="StartDt" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="StopDt" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SubmitDt" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="UserField1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserField10" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserField11" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserField12" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserField2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserField3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserField4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserField5" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserField6" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserField7" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserField8" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserField9" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListInboundActivity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:ListInboundActivityRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListInboundActivityRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Authentication" type="tns:Authentication" />
          <s:element minOccurs="1" maxOccurs="1" name="CustomerId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ExcludeSubLevelEntries" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Filters" type="tns:ArrayOfString" />
          <s:element minOccurs="1" maxOccurs="1" name="PageIndex" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PageSize" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SortOption" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListInboundActivityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListInboundActivityResult" type="tns:ListInboundActivityResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListInboundActivityResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="InboundMessageList" type="tns:ArrayOfIM" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalRecords" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfIM">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="im" nillable="true" type="tns:im" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="im">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="callee" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="caller" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="cid" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="cmp" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="csid" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="dt" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="dur" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ecm" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="flgs" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="mmr" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="mr" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="pgct" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="pid" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="res" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="rpid" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="spd" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListOutboundActivity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:ListOutboundActivityRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListOutboundActivityRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Authentication" type="tns:Authentication" />
          <s:element minOccurs="1" maxOccurs="1" name="CustomerId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ExcludeSubLevelEntries" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Filters" type="tns:ArrayOfString" />
          <s:element minOccurs="1" maxOccurs="1" name="PageIndex" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PageSize" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SortOption" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListOutboundActivityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListOutboundActivityResult" type="tns:ListOutboundActivityResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListOutboundActivityResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OutboundMessageList" type="tns:ArrayOfOM" />
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalRecords" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOM">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="om" nillable="true" type="tns:om" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="om">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="aid" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="atmpts" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="cid" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="dt" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="dur" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="err" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="errdesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="pgct" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="pid" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="rpid" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="stat" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GenerateCDRSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateCDR" />
  </wsdl:message>
  <wsdl:message name="GenerateCDRSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateCDRResponse" />
  </wsdl:message>
  <wsdl:message name="GetCDRSoapIn">
    <wsdl:part name="parameters" element="tns:GetCDR" />
  </wsdl:message>
  <wsdl:message name="GetCDRSoapOut">
    <wsdl:part name="parameters" element="tns:GetCDRResponse" />
  </wsdl:message>
  <wsdl:message name="GetInboundDetailSoapIn">
    <wsdl:part name="parameters" element="tns:GetInboundDetail" />
  </wsdl:message>
  <wsdl:message name="GetInboundDetailSoapOut">
    <wsdl:part name="parameters" element="tns:GetInboundDetailResponse" />
  </wsdl:message>
  <wsdl:message name="GetOutboundDetailSoapIn">
    <wsdl:part name="parameters" element="tns:GetOutboundDetail" />
  </wsdl:message>
  <wsdl:message name="GetOutboundDetailSoapOut">
    <wsdl:part name="parameters" element="tns:GetOutboundDetailResponse" />
  </wsdl:message>
  <wsdl:message name="ListInboundActivitySoapIn">
    <wsdl:part name="parameters" element="tns:ListInboundActivity" />
  </wsdl:message>
  <wsdl:message name="ListInboundActivitySoapOut">
    <wsdl:part name="parameters" element="tns:ListInboundActivityResponse" />
  </wsdl:message>
  <wsdl:message name="ListOutboundActivitySoapIn">
    <wsdl:part name="parameters" element="tns:ListOutboundActivity" />
  </wsdl:message>
  <wsdl:message name="ListOutboundActivitySoapOut">
    <wsdl:part name="parameters" element="tns:ListOutboundActivityResponse" />
  </wsdl:message>
  <wsdl:portType name="AccountManagementReportingWebserviceSoap">
    <wsdl:operation name="GenerateCDR">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method to generate a new CDR request</wsdl:documentation>
      <wsdl:input message="tns:GenerateCDRSoapIn" />
      <wsdl:output message="tns:GenerateCDRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCDR">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method to get a CDR previously generated</wsdl:documentation>
      <wsdl:input message="tns:GetCDRSoapIn" />
      <wsdl:output message="tns:GetCDRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInboundDetail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method to get inbound message details based on a message id.</wsdl:documentation>
      <wsdl:input message="tns:GetInboundDetailSoapIn" />
      <wsdl:output message="tns:GetInboundDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOutboundDetail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method to get outbound fax details based on a job id.</wsdl:documentation>
      <wsdl:input message="tns:GetOutboundDetailSoapIn" />
      <wsdl:output message="tns:GetOutboundDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListInboundActivity">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method to list inbound activity for a customer based on a search criteria.</wsdl:documentation>
      <wsdl:input message="tns:ListInboundActivitySoapIn" />
      <wsdl:output message="tns:ListInboundActivitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListOutboundActivity">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method to list outbound activity for a customer based on a search criteria.</wsdl:documentation>
      <wsdl:input message="tns:ListOutboundActivitySoapIn" />
      <wsdl:output message="tns:ListOutboundActivitySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccountManagementReportingWebserviceSoap" type="tns:AccountManagementReportingWebserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerateCDR">
      <soap:operation soapAction="AccountManagementReportingWebservice/GenerateCDR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCDR">
      <soap:operation soapAction="AccountManagementReportingWebservice/GetCDR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInboundDetail">
      <soap:operation soapAction="AccountManagementReportingWebservice/GetInboundDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutboundDetail">
      <soap:operation soapAction="AccountManagementReportingWebservice/GetOutboundDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListInboundActivity">
      <soap:operation soapAction="AccountManagementReportingWebservice/ListInboundActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListOutboundActivity">
      <soap:operation soapAction="AccountManagementReportingWebservice/ListOutboundActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AccountManagementReportingWebserviceSoap12" type="tns:AccountManagementReportingWebserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerateCDR">
      <soap12:operation soapAction="AccountManagementReportingWebservice/GenerateCDR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCDR">
      <soap12:operation soapAction="AccountManagementReportingWebservice/GetCDR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInboundDetail">
      <soap12:operation soapAction="AccountManagementReportingWebservice/GetInboundDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutboundDetail">
      <soap12:operation soapAction="AccountManagementReportingWebservice/GetOutboundDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListInboundActivity">
      <soap12:operation soapAction="AccountManagementReportingWebservice/ListInboundActivity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListOutboundActivity">
      <soap12:operation soapAction="AccountManagementReportingWebservice/ListOutboundActivity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountManagementReportingWebservice">
    <wsdl:port name="AccountManagementReportingWebserviceSoap" binding="tns:AccountManagementReportingWebserviceSoap">
      <soap:address location="https://ws.concordfax.com/acctmgmt/v4/reporting.asmx" />
    </wsdl:port>
    <wsdl:port name="AccountManagementReportingWebserviceSoap12" binding="tns:AccountManagementReportingWebserviceSoap12">
      <soap12:address location="https://ws.concordfax.com/acctmgmt/v4/reporting.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>