EBB/BBOSWebServiceClient/Service References/BBServices/BBOSServices1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://www.bluebookprco.com/bbwebservices" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.bluebookprco.com/bbwebservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The BBOS web services provices a B2B mechanism for members to easily extract data from the BBOS and import into local system.  A license key is required to access this service.  For more information, please contact Blue Book Services, Inc. at 630-668-3500 or &lt;a href="mailto:info@bluebookservices.com"&gt;info@bluebookservices.com&lt;/a&gt;.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.bluebookprco.com/bbwebservices">
      <s:element name="GetUserBBID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicensePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserLoginID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserBBIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetUserBBIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindCompany">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicensePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserLoginID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyPhone1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyPhone2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyPhone3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Website" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindCompanyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindCompanyResult" type="tns:ArrayOfCompanyFindResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCompanyFindResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CompanyFindResult" nillable="true" type="tns:CompanyFindResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CompanyFindResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="BBID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WebSite" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Addresses" type="tns:ArrayOfAddress" />
          <s:element minOccurs="0" maxOccurs="1" name="Phones" type="tns:ArrayOfPhone" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAddress">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Address" nillable="true" type="tns:Address" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Address">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address5" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPhone">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Phone" nillable="true" type="tns:Phone" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Phone">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AreaCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetListingDataForCompany">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicensePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserLoginID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BBID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListingDataForCompanyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListingDataForCompanyResult" type="tns:Company" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Company">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="BBID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HQID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ListingCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ListingCounty" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ListingState" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ListingCountry" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Industry" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WebSite" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Volume" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TradeStyle1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TradeStyle2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RatingLine" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TMAward" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TMYear" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PreviousRatingLine" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RatingSinceDate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OpenClaims" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalClaims2Years" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalMertioriousClaims2Years" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TradeActivitySummaryScore" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BlueBookScore" type="tns:BlueBookScore" />
          <s:element minOccurs="0" maxOccurs="1" name="CreditWorthRating" type="tns:CreditWorthRating" />
          <s:element minOccurs="0" maxOccurs="1" name="PayRating" type="tns:PayRating" />
          <s:element minOccurs="0" maxOccurs="1" name="IntegrityRating" type="tns:IntegrityRating" />
          <s:element minOccurs="0" maxOccurs="1" name="RatingNumerals" type="tns:ArrayOfRatingNumeral" />
          <s:element minOccurs="0" maxOccurs="1" name="FinancialStatement" type="tns:FinancialStatement" />
          <s:element minOccurs="0" maxOccurs="1" name="Licenses" type="tns:ArrayOfLicense" />
          <s:element minOccurs="0" maxOccurs="1" name="Addresses" type="tns:ArrayOfAddress" />
          <s:element minOccurs="0" maxOccurs="1" name="Phones" type="tns:ArrayOfPhone" />
          <s:element minOccurs="0" maxOccurs="1" name="Classifications" type="tns:ArrayOfClassification" />
          <s:element minOccurs="0" maxOccurs="1" name="Commodities" type="tns:ArrayOfCommodity" />
          <s:element minOccurs="0" maxOccurs="1" name="Brands" type="tns:ArrayOfBrand" />
          <s:element minOccurs="0" maxOccurs="1" name="Persons" type="tns:ArrayOfPerson" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BlueBookScore">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Score" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CreditWorthRating">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PayRating">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IntegrityRating">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRatingNumeral">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RatingNumeral" nillable="true" type="tns:RatingNumeral" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RatingNumeral">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FinancialStatement">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLicense">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="License" nillable="true" type="tns:License" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="License">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfClassification">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Classification" nillable="true" type="tns:Classification" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Classification">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCommodity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Commodity" nillable="true" type="tns:Commodity" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Commodity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Abbreivation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBrand">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Brand" nillable="true" type="tns:Brand" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Brand">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPerson">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Person" nillable="true" type="tns:Person" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Person">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PersonID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MiddleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Suffix" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phones" type="tns:ArrayOfPhone" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetListingDataForWatchdogList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicensePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserLoginID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WatchdogListName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListingDataForWatchdogListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListingDataForWatchdogListResult" type="tns:ArrayOfCompany" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCompany">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Company" nillable="true" type="tns:Company" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetListingDataForCompanyList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicensePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserLoginID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyIDList" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListingDataForCompanyListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListingDataForCompanyListResult" type="tns:ArrayOfCompany" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListingDataForAllCompanies">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicensePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserLoginID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListingDataForAllCompaniesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListingDataForAllCompaniesResult" type="tns:ArrayOfCompany" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListingAndPersonDataForAllCompanies">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicensePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserLoginID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListingAndPersonDataForAllCompaniesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListingAndPersonDataForAllCompaniesResult" type="tns:ArrayOfCompany" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGeneralCompanyData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicensePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserLoginID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyIDList" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGeneralCompanyDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGeneralCompanyDataResult" type="tns:ArrayOfCompany" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRatingCompanyData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicensePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserLoginID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyIDList" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRatingCompanyDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRatingCompanyDataResult" type="tns:ArrayOfCompany" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBusinessReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicensePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserLoginID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BBID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBusinessReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBusinessReportResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUserBBIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserBBID" />
  </wsdl:message>
  <wsdl:message name="GetUserBBIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserBBIDResponse" />
  </wsdl:message>
  <wsdl:message name="FindCompanySoapIn">
    <wsdl:part name="parameters" element="tns:FindCompany" />
  </wsdl:message>
  <wsdl:message name="FindCompanySoapOut">
    <wsdl:part name="parameters" element="tns:FindCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="GetListingDataForCompanySoapIn">
    <wsdl:part name="parameters" element="tns:GetListingDataForCompany" />
  </wsdl:message>
  <wsdl:message name="GetListingDataForCompanySoapOut">
    <wsdl:part name="parameters" element="tns:GetListingDataForCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="GetListingDataForWatchdogListSoapIn">
    <wsdl:part name="parameters" element="tns:GetListingDataForWatchdogList" />
  </wsdl:message>
  <wsdl:message name="GetListingDataForWatchdogListSoapOut">
    <wsdl:part name="parameters" element="tns:GetListingDataForWatchdogListResponse" />
  </wsdl:message>
  <wsdl:message name="GetListingDataForCompanyListSoapIn">
    <wsdl:part name="parameters" element="tns:GetListingDataForCompanyList" />
  </wsdl:message>
  <wsdl:message name="GetListingDataForCompanyListSoapOut">
    <wsdl:part name="parameters" element="tns:GetListingDataForCompanyListResponse" />
  </wsdl:message>
  <wsdl:message name="GetListingDataForAllCompaniesSoapIn">
    <wsdl:part name="parameters" element="tns:GetListingDataForAllCompanies" />
  </wsdl:message>
  <wsdl:message name="GetListingDataForAllCompaniesSoapOut">
    <wsdl:part name="parameters" element="tns:GetListingDataForAllCompaniesResponse" />
  </wsdl:message>
  <wsdl:message name="GetListingAndPersonDataForAllCompaniesSoapIn">
    <wsdl:part name="parameters" element="tns:GetListingAndPersonDataForAllCompanies" />
  </wsdl:message>
  <wsdl:message name="GetListingAndPersonDataForAllCompaniesSoapOut">
    <wsdl:part name="parameters" element="tns:GetListingAndPersonDataForAllCompaniesResponse" />
  </wsdl:message>
  <wsdl:message name="GetGeneralCompanyDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetGeneralCompanyData" />
  </wsdl:message>
  <wsdl:message name="GetGeneralCompanyDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetGeneralCompanyDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetRatingCompanyDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetRatingCompanyData" />
  </wsdl:message>
  <wsdl:message name="GetRatingCompanyDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetRatingCompanyDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetBusinessReportSoapIn">
    <wsdl:part name="parameters" element="tns:GetBusinessReport" />
  </wsdl:message>
  <wsdl:message name="GetBusinessReportSoapOut">
    <wsdl:part name="parameters" element="tns:GetBusinessReportResponse" />
  </wsdl:message>
  <wsdl:portType name="Blue_x0020_Book_x0020_Web_x0020_ServicesSoap">
    <wsdl:operation name="GetUserBBID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the BBID for the specified user.</wsdl:documentation>
      <wsdl:input message="tns:GetUserBBIDSoapIn" />
      <wsdl:output message="tns:GetUserBBIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindCompany">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of HQ companies matching the specified criteria</wsdl:documentation>
      <wsdl:input message="tns:FindCompanySoapIn" />
      <wsdl:output message="tns:FindCompanySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListingDataForCompany">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns listing data for a single company.</wsdl:documentation>
      <wsdl:input message="tns:GetListingDataForCompanySoapIn" />
      <wsdl:output message="tns:GetListingDataForCompanySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListingDataForWatchdogList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns listing data for all listed companies in the specified watchdog list name.</wsdl:documentation>
      <wsdl:input message="tns:GetListingDataForWatchdogListSoapIn" />
      <wsdl:output message="tns:GetListingDataForWatchdogListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListingDataForCompanyList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns listing data for all listed companies in the specified list.  The BB #s should be delimited by commas.</wsdl:documentation>
      <wsdl:input message="tns:GetListingDataForCompanyListSoapIn" />
      <wsdl:output message="tns:GetListingDataForCompanyListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListingDataForAllCompanies">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns listing data for all listed companies.</wsdl:documentation>
      <wsdl:input message="tns:GetListingDataForAllCompaniesSoapIn" />
      <wsdl:output message="tns:GetListingDataForAllCompaniesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListingAndPersonDataForAllCompanies">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns listing and person data for all listed companies.</wsdl:documentation>
      <wsdl:input message="tns:GetListingAndPersonDataForAllCompaniesSoapIn" />
      <wsdl:output message="tns:GetListingAndPersonDataForAllCompaniesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGeneralCompanyData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns general company data for all listed companies in the specified list.  The BB #s should be delimited by commas.</wsdl:documentation>
      <wsdl:input message="tns:GetGeneralCompanyDataSoapIn" />
      <wsdl:output message="tns:GetGeneralCompanyDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRatingCompanyData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns general and rating company data for all listed companies in the specified list.  The BB #s should be delimited by commas.</wsdl:documentation>
      <wsdl:input message="tns:GetRatingCompanyDataSoapIn" />
      <wsdl:output message="tns:GetRatingCompanyDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBusinessReport">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a Business Report PDF file on the specified subject company.</wsdl:documentation>
      <wsdl:input message="tns:GetBusinessReportSoapIn" />
      <wsdl:output message="tns:GetBusinessReportSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Blue_x0020_Book_x0020_Web_x0020_ServicesSoap" type="tns:Blue_x0020_Book_x0020_Web_x0020_ServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserBBID">
      <soap:operation soapAction="http://www.bluebookprco.com/bbwebservices/GetUserBBID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindCompany">
      <soap:operation soapAction="http://www.bluebookprco.com/bbwebservices/FindCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListingDataForCompany">
      <soap:operation soapAction="http://www.bluebookprco.com/bbwebservices/GetListingDataForCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListingDataForWatchdogList">
      <soap:operation soapAction="http://www.bluebookprco.com/bbwebservices/GetListingDataForWatchdogList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListingDataForCompanyList">
      <soap:operation soapAction="http://www.bluebookprco.com/bbwebservices/GetListingDataForCompanyList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListingDataForAllCompanies">
      <soap:operation soapAction="http://www.bluebookprco.com/bbwebservices/GetListingDataForAllCompanies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListingAndPersonDataForAllCompanies">
      <soap:operation soapAction="http://www.bluebookprco.com/bbwebservices/GetListingAndPersonDataForAllCompanies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGeneralCompanyData">
      <soap:operation soapAction="http://www.bluebookprco.com/bbwebservices/GetGeneralCompanyData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRatingCompanyData">
      <soap:operation soapAction="http://www.bluebookprco.com/bbwebservices/GetRatingCompanyData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBusinessReport">
      <soap:operation soapAction="http://www.bluebookprco.com/bbwebservices/GetBusinessReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Blue_x0020_Book_x0020_Web_x0020_ServicesSoap12" type="tns:Blue_x0020_Book_x0020_Web_x0020_ServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserBBID">
      <soap12:operation soapAction="http://www.bluebookprco.com/bbwebservices/GetUserBBID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindCompany">
      <soap12:operation soapAction="http://www.bluebookprco.com/bbwebservices/FindCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListingDataForCompany">
      <soap12:operation soapAction="http://www.bluebookprco.com/bbwebservices/GetListingDataForCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListingDataForWatchdogList">
      <soap12:operation soapAction="http://www.bluebookprco.com/bbwebservices/GetListingDataForWatchdogList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListingDataForCompanyList">
      <soap12:operation soapAction="http://www.bluebookprco.com/bbwebservices/GetListingDataForCompanyList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListingDataForAllCompanies">
      <soap12:operation soapAction="http://www.bluebookprco.com/bbwebservices/GetListingDataForAllCompanies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListingAndPersonDataForAllCompanies">
      <soap12:operation soapAction="http://www.bluebookprco.com/bbwebservices/GetListingAndPersonDataForAllCompanies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGeneralCompanyData">
      <soap12:operation soapAction="http://www.bluebookprco.com/bbwebservices/GetGeneralCompanyData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRatingCompanyData">
      <soap12:operation soapAction="http://www.bluebookprco.com/bbwebservices/GetRatingCompanyData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBusinessReport">
      <soap12:operation soapAction="http://www.bluebookprco.com/bbwebservices/GetBusinessReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Blue_x0020_Book_x0020_Web_x0020_Services">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The BBOS web services provices a B2B mechanism for members to easily extract data from the BBOS and import into local system.  A license key is required to access this service.  For more information, please contact Blue Book Services, Inc. at 630-668-3500 or &lt;a href="mailto:info@bluebookservices.com"&gt;info@bluebookservices.com&lt;/a&gt;.</wsdl:documentation>
    <wsdl:port name="Blue_x0020_Book_x0020_Web_x0020_ServicesSoap" binding="tns:Blue_x0020_Book_x0020_Web_x0020_ServicesSoap">
      <soap:address location="http://localhost/bbwebservices/BBOSServices.asmx" />
    </wsdl:port>
    <wsdl:port name="Blue_x0020_Book_x0020_Web_x0020_ServicesSoap12" binding="tns:Blue_x0020_Book_x0020_Web_x0020_ServicesSoap12">
      <soap12:address location="http://localhost/bbwebservices/BBOSServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>